body{
  background-color: grey;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a{
  border-style: outset; border-color: red; 
  color: wheat; background-color: green;
  height: 30px; width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, p{
  color: wheat;
}